{% extends 'employees/base.html' %}


{% block title %}

{% if employee %}
Edit Employee
{% else %}
Add Employee
{% endif %}

{% endblock %}


{% block content %}

<div class="card">

    <h1>

        {% if employee %}
        Edit Employee
        {% else %}
        Add Employee
        {% endif %}

    </h1>


    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="btn"
        >
            Save Employee
        </button>

        <a
            href="{% url 'emp_list' %}"
            class="btn btn-secondary"
        >
            Cancel
        </a>

    </form>

</div>

{% endblock %}